@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@100;500&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	margin: 0;padding:0;
	box-sizing:border-box;
	text-transform:capitalize;
	outline:none;text-decoration:none;
	color: crimson;
}

$crimson: crimson;
$black : #0d0d0d;
$light-bg : #1a1a1a;
$white : #fff;
$light-color : #aaa;
$box-shadow : 0 .5rem 1 rem rgba(0,0,0,.7);
@mixin grid($val){
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
	gap: 1.5rem;
}
html{
	font-size: 62.5%;
	overflow-x: hidden;
	&::webkit-scrollbar{
		width: 1rem;
	}
	&::-webkit-scrollbar-track{
		background: black;
	}
	&::-webkit-scrollbar-thumb{
		background: $crimson;
		border-radius: 5rem;
	}
}
body{
	padding-bottom: 6.5rem;
}
section {
	padding: 5rem 9%;
}
.heading{
	text-align:center;
	font-size: 3vw;
	text-transform: uppercase;
	margin-bottom: 3rem;color: $white;
	span{
		text-transform: uppercase;
		color: $crimson;
	}
}
.btn{
	display: inline-block;
	margin-top: 1rem;
	border-radius: 5rem;
	background-color: $crimson;
	padding: .7rem;
	font-size: 1.7rem;color: $white;
	padding-left: 2rem;
	i{
		height: 4rem;
		width: 4rem;
		line-height: 4rem;
		font-size: 1.7rem;text-align: center;
		background: $white;
		color: $crimson;border-radius: 50%;
		margin-left: 1rem;
		transition: .2s linear;

		
	}
	&:hover i{
		margin-left: 2em;
	}
}
.navbar{
	position: fixed;
	bottom: 0;left: 0;right:0;display: flex;
	z-index: 1000;
	align-items: flex-end;

	a{
		padding: 2rem;
		font-size: 2rem;
		background: $light-bg;
		flex: 1;color: $white;text-align: center;
		transition: .2s linear;

		i{
			color: $crimson;
			padding-right: .5rem;
		}
		&:hover{
			background: $crimson;
			padding-bottom: 6rem;
			i{
				color : $white;
			}
			span{
				color: $white;
			}
		}
	}
}
@media(max-width: 1200px){
	html{
		font-size: 55%;
	}
}

@media(max-width: 768px){
	section{ padding: 3rem 2rem; }
	.navbar{

		a{
			i{
				padding: 0; display:none;
			}
			span{
				display: none;
			}
			&:hover{
				padding-bottom: 2rem;
			}
		}
	}
	.home{
		text-align:center;
		gap: 2rem;
		.image img{
			width:30rem;height:30rem;
		}
		.content{
			h3{
				font-size: 3rem;
			}
			span{
				font-size: 2.5rem;
			}
			a{
				margin-bottom: 8px;;
			}
		}
	}
	.heading{
		font-size: 12vw;
	}
	
}
@media(max-width: 450px){
	html{
		font-size: 50%;
	}
}